@import "variables";

.library-area {

  .book-section {
    padding: 0 2em 0 3em;

    .book-title {
      text-align: left;
      font-weight: 500;
      font-size: 2.5em;
      padding: 15px 15px 15px 0;
      border-bottom: 2px solid black;
    }

    .book-list {
      display: block;

      .empty-list {
        font-size: 1.2em;
        font-style: italic;
        padding-top: 5px;
      }

      .book-ul {

        li {
          list-style: none;
          font-size: 1.3em;
          word-break: break-all;
          margin: 0;

          .books-icons {
            padding-right: 25px;
            text-align: right;
            display: none;

            i {
              cursor: pointer;
              margin-left: 15px;
            }
          }

          &:hover {
            background-color: $form-hover-color;

            .books-icons {
              display: inline-block;
            }
          }
        }
      }
    }

    .add-book {
      cursor: pointer;

      i {
        color: $create-btn-color;
        vertical-align: text-bottom;
      }

      label {
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 500;
      }
    }

    .create-book {

      h4 {
        border-bottom: 2px solid $create-author;
        color: $create-author;
        display: inline-block;
      }

      i {
        vertical-align: sub;
        cursor: pointer;
      }

      .create-btn {
        float: right;
        background-color: $create-btn-color;
      }

      .form-label {
        font-size: 0.7em;
      }

      .form-control {
        border-radius: unset;
        border: 2px solid $input-field-border-color;
      }

      .create-btn {
        background-color: $create-btn-color;
        border-radius: 8px;
        float: right;
        font-size: 1.1em;
      }

      .form-inputs {
        margin-right: 0;
        margin-left: 2rem;
      }
      .select-invalid{
        font-size: 0.8rem;
        padding-top: 5px;
        color: #dc3545;
      }
    }
  }

  @media only screen and (max-width: $extra-small-device-size) {
    min-height: 50vh;
    .book-section {
      font-size: 0.8em;
      padding: 0 1.5em 0 1em;

      .book-title {
        font-size: 2em;
        font-weight: 600;
      }

      .create-book {

        .create-book-title {
          font-size: 1em;
        }

        .formInputs {
          margin-left: 1.5em;
        }

        .form-label {
          font-size: 0.9em;
        }

        .select-invalid{
          font-size: 0.6rem;
          padding: 0;
          color: #dc3545;
        }
      }
    }
  }
}